body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

.header__link {
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
}

@media (max-width: 1280px) {
	.header__link {
		font-size: 10px;
	}
}

@media (max-width: 991px) {
	.header__link {
		font-size: 9px;
	}
}

.main__title {
	font-weight: 600;
	font-size: 90px;
	line-height: 110px;
}

.main__text {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
}

.main__textopport {
	font-weight: 600;
	font-size: 35px;
	line-height: 17px;
}

.main__textopport_middle {
	font-weight: 600;
	font-size: 20px;
	line-height: 10px;
}

.main__textopport_small {
	font-weight: normal;
	font-size: 12px;
	line-height: 3px;
}

.main__textopport_white, .main__textopport_middle_white, .main__textopport_small_white, .main__textbutton_white {
	color: #FFFFFF;
}

.main__textopport_middle_white {
	line-height: 18px;
}

.main__textbutton, .main__button {
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
}

.main__button {
	color: #E51937;
}

.main__button_white {
	color: #FFFFFF;
}

@media (max-width: 768px) {
	.main__textopport {
		font-size: 50px;
		line-height: 17px;
	}

	.main__textopport_white {
		font-size: 35px;
		line-height: 17px;
	}

	.main__textbutton, .main__button {
		font-size: 16px;
		line-height: 20px;
		color: #E51937;
	}

	.main__button, .main__textbutton_white {
		color: #FFFFFF;
	}
}

@media (max-width: 576px) {
	.main__title {
		font-size: 50px;
		line-height: 61px;
	}

	.main__text {
		font-size: 10px;
		line-height: 12px;
	}

	.main__textopport {
		font-size: 27px;
		line-height: 17px;
	}

	.main__textopport_middle {
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
	}

	.main__textopport_small {
		font-weight: normal;
		font-size: 12px;
		line-height: 10px;
	}

	.main__textbutton, .main__button {
		font-size: 13px;
		line-height: 16px;
	}
}

.main__subtitle {
	font-weight: 600;
	font-size: 70px;
	line-height: 85px;
	color: #E51937;
}

.main__subsubtitle {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #FFFFFF;
}

.main__textdis {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
}
.main__tabletext, .main__tabletext_small, .main__textsafety, .main__textsafety_small {
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.main__tabletext_small {
	font-size: 10px;
	line-height: 12px;
} 

.main__textsafety {
	font-weight: 600;
	font-size: 50px;
	line-height: 30px;
	text-transform: lowercase;
}

.main__textsafety_small {
	font-weight: 600;
	font-size: 25px;
	line-height: 30px;
	text-transform: lowercase;
}