body {
	max-width: 1440px;
	min-width: 375px;
	margin: auto;
	position: relative;
}

.header {
	width: 93%;
	height: 100px;
	transform: translateX(42px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__nav {
	width: 36.5%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transform: translateX(18.5px);
}

.header__link, .header__link_img {
	cursor: pointer;
}
	
.header__link {
	position: relative;
}

.header__link:hover {
	color: #E51937;	
}	

.header__link:hover::before {
	content: '';
	position: absolute;
	left: 1px;
	bottom: -10px;
	background-image: url(img/Vector1.png);
	background-size: cover;
	width: 100%;
	height: 2px;
}

.header__link_size {
	transform: translateX(20px);
}

.header__nav_add {
	width: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__link_img:hover {
	transform: scale(1.3);
}

@media (max-width: 768px) {
	.header {
		transform: translateX(15px);
	}

	.header__link {
		display: none;
	}

	.header__imgnav {
		width: 35px;
		height: 22px;
	}

	.header__nav_add {
		justify-content: flex-end;
	}	
}	

@media (max-width: 375px) {
	.header {
		height: 52px;
		transform: translateX(2px);
	}

	.header__link {
		display: none;
	}

	.header__img {
		width: 138px;
		height: 42px;
	}

	.header__imgnav {
		width: 24px;
		height: 15px;
	}
	
	.header__nav_add {
		justify-content: flex-end;
	}	
}

.main__blockimg {
	background-image: url(img/Tesla-Wordmark-Red.png);
	background-size: 1514px 467px;
	background-position: -74px 34px;
}

.main__title, .main__text {
	margin: auto;
	text-align: center;
}

.main__title {
	padding-top: 34px;
}
	
.main__text {
	transform: translateY(-9px);
	padding-bottom: 17px;
}

.main__imgcar {
	transform: translateX(199px);
}	


