html {
	scroll-behavior: smooth;
}

body {
	max-width: 2200px;
	min-width: 375px;
	margin: auto;
	position: relative;
}

body::-webkit-scrollbar {
	width: 13px;
}

body::-webkit-scrollbar-track {
	background-image: url(img/Tesla-Wordmark-Red-scrollbar.png);
	background-size: contain;
	background-repeat: space;
	border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
	background-color: #E51937;
	border-radius: 20px;
}

.windows8 {
	position: relative;
	width: 64px;
	height:64px;
	margin:auto;
	top: 400px;
}

.windows8_load {
	display: none;
}

.windows8 .wBall {
	position: absolute;
	width: 61px;
	height: 61px;
	opacity: 0;
	transform: rotate(225deg);
		-o-transform: rotate(225deg);
		-ms-transform: rotate(225deg);
		-webkit-transform: rotate(225deg);
		-moz-transform: rotate(225deg);
	animation: orbit 5.1425s infinite;
		-o-animation: orbit 5.1425s infinite;
		-ms-animation: orbit 5.1425s infinite;
		-webkit-animation: orbit 5.1425s infinite;
		-moz-animation: orbit 5.1425s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 8px;
	height: 8px;
	background: rgba(199,10,10,0.81);
	left:0px;
	top:0px;
	border-radius: 8px;
}

.windows8 #wBall_1 {
	animation-delay: 1.126s;
		-o-animation-delay: 1.126s;
		-ms-animation-delay: 1.126s;
		-webkit-animation-delay: 1.126s;
		-moz-animation-delay: 1.126s;
}

.windows8 #wBall_2 {
	animation-delay: 0.223s;
		-o-animation-delay: 0.223s;
		-ms-animation-delay: 0.223s;
		-webkit-animation-delay: 0.223s;
		-moz-animation-delay: 0.223s;
}

.windows8 #wBall_3 {
	animation-delay: 0.4465s;
		-o-animation-delay: 0.4465s;
		-ms-animation-delay: 0.4465s;
		-webkit-animation-delay: 0.4465s;
		-moz-animation-delay: 0.4465s;
}

.windows8 #wBall_4 {
	animation-delay: 0.6695s;
		-o-animation-delay: 0.6695s;
		-ms-animation-delay: 0.6695s;
		-webkit-animation-delay: 0.6695s;
		-moz-animation-delay: 0.6695s;
}

.windows8 #wBall_5 {
	animation-delay: 0.903s;
		-o-animation-delay: 0.903s;
		-ms-animation-delay: 0.903s;
		-webkit-animation-delay: 0.903s;
		-moz-animation-delay: 0.903s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
	opacity: 0;
		transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		transform: rotate(900deg);
	}
}

@-o-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-o-transform: rotate(180deg);
		-o-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-o-transform: rotate(300deg);
		-o-animation-timing-function: linear;
		-o-origin:0%;
	}

	30% {
		opacity: 1;
		-o-transform:rotate(410deg);
		-o-animation-timing-function: ease-in-out;
		-o-origin:7%;
	}

	39% {
		opacity: 1;
		-o-transform: rotate(645deg);
		-o-animation-timing-function: linear;
		-o-origin:30%;
	}

	70% {
		opacity: 1;
		-o-transform: rotate(770deg);
		-o-animation-timing-function: ease-out;
		-o-origin:39%;
	}

	75% {
		opacity: 1;
		-o-transform: rotate(900deg);
		-o-animation-timing-function: ease-out;
		-o-origin:70%;
	}

	76% {
	opacity: 0;
		-o-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-o-transform: rotate(900deg);
	}
}

@-ms-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-ms-transform: rotate(180deg);
		-ms-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-ms-transform: rotate(300deg);
		-ms-animation-timing-function: linear;
		-ms-origin:0%;
	}

	30% {
		opacity: 1;
		-ms-transform:rotate(410deg);
		-ms-animation-timing-function: ease-in-out;
		-ms-origin:7%;
	}

	39% {
		opacity: 1;
		-ms-transform: rotate(645deg);
		-ms-animation-timing-function: linear;
		-ms-origin:30%;
	}

	70% {
		opacity: 1;
		-ms-transform: rotate(770deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:39%;
	}

	75% {
		opacity: 1;
		-ms-transform: rotate(900deg);
		-ms-animation-timing-function: ease-out;
		-ms-origin:70%;
	}

	76% {
	opacity: 0;
		-ms-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-ms-transform: rotate(900deg);
	}
}

@-webkit-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-webkit-transform: rotate(180deg);
		-webkit-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-webkit-transform: rotate(300deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:0%;
	}

	30% {
		opacity: 1;
		-webkit-transform:rotate(410deg);
		-webkit-animation-timing-function: ease-in-out;
		-webkit-origin:7%;
	}

	39% {
		opacity: 1;
		-webkit-transform: rotate(645deg);
		-webkit-animation-timing-function: linear;
		-webkit-origin:30%;
	}

	70% {
		opacity: 1;
		-webkit-transform: rotate(770deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:39%;
	}

	75% {
		opacity: 1;
		-webkit-transform: rotate(900deg);
		-webkit-animation-timing-function: ease-out;
		-webkit-origin:70%;
	}

	76% {
	opacity: 0;
		-webkit-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-webkit-transform: rotate(900deg);
	}
}

@-moz-keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		-moz-transform: rotate(180deg);
		-moz-animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		-moz-transform: rotate(300deg);
		-moz-animation-timing-function: linear;
		-moz-origin:0%;
	}

	30% {
		opacity: 1;
		-moz-transform:rotate(410deg);
		-moz-animation-timing-function: ease-in-out;
		-moz-origin:7%;
	}

	39% {
		opacity: 1;
		-moz-transform: rotate(645deg);
		-moz-animation-timing-function: linear;
		-moz-origin:30%;
	}

	70% {
		opacity: 1;
		-moz-transform: rotate(770deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:39%;
	}

	75% {
		opacity: 1;
		-moz-transform: rotate(900deg);
		-moz-animation-timing-function: ease-out;
		-moz-origin:70%;
	}

	76% {
	opacity: 0;
		-moz-transform:rotate(900deg);
	}

	100% {
	opacity: 0;
		-moz-transform: rotate(900deg);
	}
}

.header {
	width: 93%;
	height: 100px;
	transform: translateX(42px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.header__blocknav {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header__nav {
	width: 45%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__link, .header__link_img {
	cursor: pointer;
}
	
.header__link {
	position: relative;
	color: #000000;
	text-decoration: none;
}

.header__link:hover {
	color: #E51937;	
}	

.header__link:hover::before {
	content: '';
	position: absolute;
	left: 0px;
	bottom: -10px;
	width: 95%;
	border: 3px solid transparent;
	border-top: 2.5px solid #E51937;
}

.header__nav_add {
	width: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__link_img:hover {
	transform: scale(1.3);
}

.header__link_img_ip, .header__link_imgclose {
	display: none;
}

/*Section First*/

.main__blockimg {
	background-image: url(img/Tesla-Wordmark-Red.png);
	background-size: 105%;
	background-repeat: no-repeat;
	background-position: -74px 34px;
}

.main__backcolor {
	background-color: rgba(255,255,255,0.9);
	background-size: 105%;
	background-repeat: no-repeat;
	background-position: -74px 34px;
}

.main__title, .main__text {
	margin: auto;
	text-align: center;
}

.main__title {
	padding-top: 34px;
}
	
.main__text {
	padding-bottom: 17px;
}

.main__imgcar {
	padding-left: 199px;
	width: 67.22%;
}

.main__bottomsec {
	width: 54.58%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main__blockopport, .main__blocktest {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main__blockopport {
	width: 47.08%;
}

.main__blocktest {
	width: 39.76%;
}

.main__speed, .main__power, .main__testdrive {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.main__imgspeed {
	transform: translateX(-12px);
}

.main__imgroаd {
	transform: translateX(-12px);
}

.main__imgwheel {
	transform: translateX(-7px);
}

.main__imgspeed_ip, .main__imgspeed_mob, .main__imgroаd_ip, .main__imgroаd_mob, .main__imgwheel_ip, .main__imgwheel_mob {
	display: none;
}

.main__button {
	cursor: pointer;
	background-color: transparent;
	padding: 9px 41px;
	border: 2px solid #E51937;
	outline: none;
}

.main__button:hover, .main__buttondown:hover, .main__info:hover {
	transform: scale(1.1);
}

.main__buttondown {
	cursor: pointer;
	display: block;
	background-color: transparent;
	border-style: none;
	background-image: url(img/cursor.png);
	background-size: cover;
	width: 34px;
	height: 18px;
	margin: auto;
}

/*Section Middle*/

.main__section_middle {
	width: 100%;
	transform: translateY(37px);
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	overflow: hidden; 
}

.main__blockimg_middle {
	width: 69.44%;
}

.main__imgdashboard {
	display: block;
	width: 100%;
}

.main__imgdashboard_ip, .main__imgdashboard_mob {
	display: none;
}

.main__subtitle {
	position: absolute;
	padding-left: 80px;
	margin-top: 10px; 
}

.main__section_dis {
	width: 30.56%;
	background-color: #E51937;
}

.main__subsubtitle {
	margin: 51px 0 11px 52px;
}

.main__textdis {
	margin: 11px 72px 200px 52px;
}

.main__textopport_white {
	margin: 20px 0 20px 0;
}

.main__disdisplay, .main__wifi, .main__cargospace, .main__order {
	transform: translateX(52px);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.main__info {
	display: flex;
	align-items: center;
}

.main__imgdisplay, .main__imgwifi, .main__imgcargospace {
	padding-right: 20px;
}

.main__linkinfo {
	padding: 0 22px 0 5px;
}

.main__cargospace {
	padding-bottom: 140px;

}

.main__order {
	padding-bottom: 64px;
}

.main__button_white {
	border: 2px solid #FFFFFF;
}

.main__linkinfo {
	cursor: pointer;
}

/*Section end*/

.main__section_end {
	width: 100%;
	transform: translateY(37px);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.main__section_end_dis {
	width: 30.5%;
	background-color: #E51937;
}

.main__blockimg_end {
	width: 69.44%;
}

.main__tablecontent {
	transform: translateX(56px);
}

.main__stars {
	display: block;
	padding-left: 20px;
}

.main__tablecontent {
	width: 75%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.main__blockdis_end {
	padding-bottom: 40px;
}

.main__imgstar {
	padding: 4px 0 4px 0;
}

.main__imgsafety {
	padding-right: 23px;
}

.main__safety {
	display: flex;
	padding-bottom: 10px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	transform: translateX(66px);
}

.main__blockimg_end {
	width: 69.5%;
	background-image: url(img/ModelS.png);
	background-size: 81%;
	background-repeat: no-repeat;
	background-position: 189px 10px;
}

.main__imgcarframe {
	transform: translate(-95px, 17px);
	width: 105%;
}

.main__imgcarframe_ip {
	display: none;
}



