body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
}

.main__title {
	font-weight: 600;
	font-size: 50px;
	line-height: 70px;
}

.main__text {
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
}

.main__title, .main__text {
	text-align: center;
}

.main__textopport {
	font-weight: 600;
	font-size: 35px;
	line-height: 17px;
}

.main__textopport_middle {
	font-weight: 600;
	font-size: 20px;
	line-height: 10px;
}

@media (max-width: 991px) {
	.main__title {
		font-size: 45px;
		line-height: 55px;
	}

	.main__text {
		font-size: 35px;
		line-height: 35px;
	}
}

@media (max-width: 768px) {
	.main__title {
		font-size: 35px;
		line-height: 35px;
	}

	.main__text {
		font-size: 25px;
		line-height: 12px;
	}
}

@media (max-width: 600px) {
	.main__title {
		font-size: 30px;
		line-height: 40px;
	}

	.main__text {
		font-size: 20px;
		line-height: 12px;
	}
}

@media (max-width: 510px) {
	.main__title {
		font-size: 25px;
		line-height: 35px;
	}

	.main__text {
		font-size: 20px;
		line-height: 12px;
	}
}


@media (max-width: 430px) {
	.main__title {
		font-size: 18px;
		line-height: 25px;
	}

	.main__text {
		font-size: 18px;
		line-height: 12px;
	}
}

.main__blockcontent {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(img/Tesla-logo-car.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 0 110px;
}

.main__blockentry {
	width: 30%;
	height: 300px;
	background-color: rgba(255,255,255,0.9);
	border-radius: 30px;
	border: 2px solid hsl(0, 50%, 88%);
}


