@media (max-width: 768px) {
	.header {
		transform: translateX(15px);
	}

	.header__link {
		display: none;
	}

	.header__imgnav {
		width: 35px;
		height: 22px;
	}

	.header__nav_add {
		justify-content: flex-end;
	}
}	

@media (max-width: 375px) {
	.header {
		height: 52px;
		transform: translateX(2px);
	}

	.header__link {
		display: none;
	}

	.header__img {
		width: 138px;
		height: 42px;
	}

	.header__imgnav {
		width: 24px;
		height: 15px;
	}
	
	.header__nav_add {
		justify-content: flex-end;
	}	
}

@media (max-width: 1280px) {
	.main__blockimg {
		background-size: 107%;
		background-repeat: no-repeat;
		background-position: -50px 93px;
	}
	.main__backcolor {
		background-size: 107%;
		background-repeat: no-repeat;
		background-position: -27px 93px;
	}

	.main__imgcar {
		transform: translateX(75px);
		width: 77%;
	}

	.main__bottomsec {
		width: 63.45%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.main__blockopport {
		width: 100%;
	}

	.main__blocktest {
		width: 85.83%;
	}

	.main__buttondown {
		transform: translateY(60px);
	}

	.main__section_middle {
		transform: translateY(124px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.main__blockimg_middle {
		width: 100%;
	}

	.main__imgdashboard {
		display: none;
	}

	.main__imgdashboard_ip {
		display: block;
		width: 100%;
	}

	.main__section_dis {
		width: 100%;
		padding-top: 30px;
	}

	.main__blockdis {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}

	.main__subsubtitle {
		margin-top: 0px;
		margin-left: 0px;
	}

	.main__textdis {
		margin: 11px 0 45px 0px;
	}	

	.main__textabout {
		width: 41.15%;
	}

	.main__blockcharacteristics {
		width: 30.86%;
	}

	.main__disdisplay, .main__wifi, .main__cargospace, .main__order {
		transform: translateX(0px);
		width: 100%;
	}

	.main__cargospace {
		padding-bottom: 60px;
	}

	.main__order {
		padding-bottom: 54px;
		justify-content: center;
	}

	.main__subtitle {
		padding-left: 56.51%;
	}

	.main__section_end {
		transform: translateY(201px);
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
	}

	.main__blockimg_end {
		width: 100%;
	}

	.main__section_end_dis {
		width: 100%;
		padding-top: 63px;
		transform: translateY(40px);
	}

	.main__blockdis_end {
		width: 100%;
		display: flex;
		padding-bottom: 50px;
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
	}

	.main__tablecontent {
		width: 100%;
		transform: translateX(0px);
	}

	.main__safety {
		display: none;
	}

	.main__order_end {
		padding-bottom: 64px;
	} 

	.main__imgcarframe {
		transform: translate(0, 0);
		width: 97%;
	}

	.main__blockimg_end {
		background-position: 82px 0;
	}
}

@media (max-width: 768px) {
	.main__blockimg {
		background-size: 107%;
		background-repeat: no-repeat;
		background-position: -27px 152px;
	}
	.main__backcolor {
		background-size: 107%;
		background-repeat: no-repeat;
		background-position: -27px 152px;
	}

	.main__title {
		padding-top: 56px;
	}

	.main__text {
		padding-bottom: 78px;
	}

	.main__imgcar {
		transform: translateX(48px);
		width: 87.5%;
	}

	.main__bottomsec {
		width: 63.45%;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.main__blockopport {
		width: 100%;
	}

	.main__blocktest {
		width: 85.83%;
	}

	.main__imgspeed_ip, .main__imgroаd_ip, .main__imgwheel_ip {
		display: block;
	}

	.main__imgwheel_ip {
		transform: translateX(-10px);
	}

	.main__imgspeed_ip {
		transform: translateX(-20px);
	}

	.main__imgroаd_ip {
		transform: translateX(-16px);
	}

	.main__imgspeed, .main__imgroаd, .main__imgspeed_mob, .main__imgroаd_mob, .main__imgwheel, .main__imgwheel_mob {
		display: none;
	}

	.main__button {
		background-color: #E51937;
		padding: 16px 62px;
		border-style: solid #E51937;
	}

	.main__imgcarframe {
		display: none;
	}

	.main__imgcarframe_ip {
		display: block;
		width: 95%;
	}	
}

@media (max-width: 720px) {
	.main__subtitle {
		display: none;
	}
}

@media (max-width: 576px) {
	.main__blockimg {
		background-size: 115%;
		background-repeat: no-repeat;
		background-position: -35px 125px;
	}
	.main__backcolor {
		background-size: 115%;
		background-repeat: no-repeat;
		background-position: -35px 125px;
	}

	.main__title {
		padding-top: 40px;
	}

	.main__text {
		padding-bottom: 59px;
	}

	.main__imgcar {
		transform: translateX(28px);
		width: 87.5%;
	}

	.main__bottomsec {
		width: 69%;
	}

	.main__blockopport {
		width: 100%;
	}

	.main__blocktest {
		width: 99%;
	}

	.main__imgwheel_ip {
		transform: translateX(-7px);
	}

	.main__imgspeed_ip {
		transform: translateX(-16px);
	}

	.main__imgroаd_ip {
		transform: translateX(-12px);
	}

	.main__button {
		padding: 9px 41px;		
	}

	.main__buttondown {
		transform: translateY(30px);
	}

	.main__section_middle {
		transform: translateY(30px);
	}

	.main__imgdashboard_ip {
		display: none;
	}

	.main__imgdashboard_mob {
		display: block;
		width: 100%;
	}

	.main__textabout {
		width: 84.27%;
	}

	.main__subsubtitle {
		margin-top: 18px;
	}

	.main__blockcharacteristics, .main__order, .main__tablestars{
		display: none;
	}

	.main__section_end {
		transform: translateY(87px);
	}

	.main__section_end_dis {
		padding-top: 0px;
		transform: translateY(30px);
	}

	.main__blockdis_end {
		padding-bottom: 10px;
	}

	.main__blockimg_end {
		background-size: 105%;
		background-position: 0 0;
	}

}

@media (max-width: 375px) {
	.main__blockimg {
		background-size: 119.47%;
		background-position: -41px 104px;
	}
	.main__backcolor {
		background-size: 119.47%;
		background-position: -41px 104px;
	}

	.main__title {
		padding-top: 25px;
	}

	.main__text {
		transform: translateY(-3px);
		padding-bottom: 40px;
	}

	.main__imgcar {
		transform: translateX(9px);
		width: 95.2%;
	}

	.main__bottomsec {
		width: 75.47%;
	}

	.main__blockopport {
		width: 100%;
	}

	.main__blocktest {
		width: 107%;
	}

	.main__imgspeed_mob, .main__imgroаd_mob, .main__imgwheel_mob {
		display: block;
	}

	.main__imgspeed_mob {
		transform: translateX(-14px);
	}

	.main__imgroаd_mob {
		transform: translateX(-12px);
	}

	.main__imgwheel_mob {
		transform: translateX(-7px);
	}

	.main__imgspeed, .main__imgroаd, .main__imgspeed_ip, .main__imgroаd_ip, .main__imgwheel, .main__imgwheel_ip {
		display: none;
	}

	.main__section_dis {
		width: 100%;
		padding-top: 0;
	}

	.main__blockdis_end {
		padding-bottom: 30px;
	}
}